$cBlack: black;

body {
  color: $cBlack;
  font-size: 100px;
} 

.header {
  width: 100%;
  z-index: 3;

 .exg {
  margin: 0;
  font-size: 3rem;
 }
}

.footer {
  width: 100%;

  .sdx {
    text-decoration: none;
    color: $cBlack;
    width: 100%;
    font-size: 0.1rem;
    font-weight: 100;
    line-height: 1;
    position: fixed;
    bottom: 0;
    z-index: 2;
    margin-bottom: 1%;
  }
}

.wrapper {
  width: 100%;
  margin-top: 100px;
}

 .hero {
  width: 100%;
  margin: 0 auto;
  text-align: center;
 }   

img {
  width: 100%;
}

video {
  width: 100%;
}


.image_card1,.image_card2,.image_card3,.image_card4,.image_card5,.image_card6 {
  position: relative;
  

  .thegreatest,.sanstitle001,.givenchyss23,.nicotine,.lampoon,.dapperdan {
    position: relative;
  
        &:hover {
          opacity: 0;
        }
  }
}

.thegreatest_text,.sanstitle001_text,.givenchyss23_text,.nicotine_text,.lampoon_text,.dapperdan_text {
  text-align: left;
  font-size: 0.1rem;
  line-height: 1,1;
  letter-spacing: 0.8em;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}


@media  (min-width: 600px) {
  
body {
  cursor:  url(img/item/cursor.png), auto;
}
  
.header {
  font-size: 80px;
  width: 100%; 
  position: absolute;
  position: fixed;
  top: 30%;

  .exg {
    max-width: 700px;
    top: 30%;
    left: 10%;
    margin: 0 auto;
  }

   :hover {
    opacity: 0;
  }
}

.wrapper {
  margin-top: 0;
  position: relative;
}

.hero {
  max-width: 500px;
 
}

}